Pandas Coding Assesment Section A

In [ ]:
import pandas as pd
data={
    "Employee_ID":[101,102,103,104,105,106,107,108,109,110],
    "Name":["Amith","Priya","Rahul","Sneha","Karan","Divya","Arjun","Pooja","Vikram","Neha"],
    "Department":["Hr","IT","Finance","IT","Marketing","Hr","Finance","IT","Marketing","HR"],
    "Salary":[45000,60000,75000,50000,65000,48000,80000,52000,70000,55000]

}
df = pd.DataFrame(data)

In [ ]:
print("original DataFrame:\n")
print(df)

In [ ]:
#02
print("\nFirst 5 Rows: \n",df.head())
print("\n Shape: \n",df.shape)
print("\n Column Names:",df.columns.tolist())

In [ ]:
#03
print("\nHighest Salary:",df["Salary"].max())
print("\nLowest Salary:",df["Salary"].min())
print("\nAverage Salary:",df["Salary"].mean())
print("\Total Employee Count:",df.shape[0])

In [ ]:
#04
print("\n Employee earning more than average salary:\n")
print(df[df["Salary"]>df["Salary"].mean()])

In [ ]:
#05
print("\n Employee earning more than 50k salary:\n")
print(df[df["Salary"]>50000])

In [ ]:
#06
print("/nEmployee from IT Department:\n")
print(df[df["Department"]=="IT"])

In [ ]:
#07
print("\n Employee sorted by salary in asending: \n")
print(df.sort_values(by="Salary"))

In [ ]:
print("\n Employee sorted by salary in asending: \n")
print(df.sort_values(by="Salary",ascending=False))

In [ ]:
#08
print("\n Employee sorted by salary in asending: \n")
print(df.sort_values(by="Salary",ascending=False).head(3))

In [ ]:
df["Bonus"]=df["Salary"]*0.10
print(df)

In [ ]:
df["Total_pay"]=df["Salary"]+df["Bonus"]
print("\n After Adding Bonus and Total_pay:\n")
print(df)

In [ ]:
df.rename(columns={"Salary": "Basic_salary"},inplace=True)
print(df)

In [ ]:
df.drop(columns=["Department"],inplace=True)
print("\nFinal DataFrame:\n")
print(df)

Section B: CSV Based Assessment

In [ ]:
#01
import pandas as pd
df=pd.read_csv('/content/student_marks_demo.csv')
df.head()

In [ ]:
#02
print("First 5 Rows: ")
print(df.head(5))
print("Last 5 Rows: ")
print(df.tail(5))
print("Shape of DataFrame: ")
print(df.shape)
print("Column Names: ")
print(df.columns)
print("Data Types:")
print(df.dtypes)

In [ ]:
#03
print("Maximum Marks:",df['Marks'].max())
print("Minimum Marks:",df['Marks'].min())
print("Average Marks:",df['Marks'].mean())

In [ ]:
#04
print("Total Students:",df.shape[0])

In [ ]:
#05
avg=df['Marks'].mean()
above_avg=df[df['Marks']>avg]
print("Students Above Average Marks:")
print(above_avg)
print("Count",above_avg.shape[0])

In [ ]:
print(df[df['Marks']>70])

In [ ]:
#07
print(df[(df['Marks']>=40) & (df['Marks'] <=60)])

In [ ]:
df_sorted = df.sort_values(by='Marks',ascending=False)
print(df_sorted)

In [ ]:
print(df_sorted.head(5))

In [ ]:
#10
grouped = df.groupby('Subject')
print(grouped)

In [ ]:
#11
print("Average Marks per Subjects:")
print(grouped['Marks'].mean())
print("Maximum Marks per Subjects:")
print(grouped['Marks'].max())

In [ ]:
#12
print(grouped.size())

In [ ]:
subject_avg = grouped['Marks'].mean()
print("Subject with Highest Average")
print(subject_avg.idxmax())

In [ ]:
df.loc[0,'Marks'] = None
df.loc[3,'Marks'] = None
print(df.head())

In [ ]:
#15
avg_marks = df['Marks'].mean()
df['Marks'].fillna(avg_marks,inplace=True)
print(df.head())

In [ ]:
#16
print("Duplicate Rows:" ,df.duplicated().sum())
df=df.drop_duplicates()
print("After Removing Duplicates:",df.duplicated().sum())

In [ ]:
df['Result']=df['Marks'].apply(lambda x:'pass' if x>=40 else'Fail')
print(df.head())

In [ ]:
df.rename(columns={'Marks': 'Final_marks'}, inplace=True)
print(df.head())

In [ ]:
df.drop(columns=['Subject'],inplace=True)
print(df.head())

In [ ]:
df.to_csv('final_students.csv',index=False)

In [ ]:
new_df=pd.read_csv('/content/final_students.csv')
new_df.head()

Bonus exercise

In [ ]:
max_marks = df['Final_Marks'].max()
print(df[df['Final_Marks']==max_marks])

In [ ]:
def grade(marks):
  if marks>=90:
    return 'A'
  elif marks>=75:
      return 'B'
  elif marks >=60:
      return 'c'
  elif marks >=40:
          return 'D'
  else:
   return 'F'
  df['Grade']=df['Final_marks'].apply(grade)
  print(df.head())

In [ ]:
pass_count = df[df['Result'] == 'Pass'].shape[0]
total_students = df.shape[0]
pass_percentage = (pass_count / total_students) * 100
print("Pass Percentage: ",pass_percentage,"%")